html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  background: #fafcff;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  /* body { */
  /* color: white; */
  /* background: black; */
  /* } */
}

/*AUTH*/
.container-auth {
  overflow: hidden;
}
.container-image {
  padding-bottom: 150px;
  background-color: #6379f4;
  height: 100vh;
}
.title-auth-left {
  position: absolute;
  left: 10.42%;
  right: 82.01%;
  top: 5.2%;
  bottom: 90.63%;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #ffffff;
}
.container-text {
  padding-left: 85px;
}
.text h1 {
  position: absolute;
  left: 10.42%;
  right: 62.99%;
  top: 74.4%;
  bottom: 22.16%;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: #ffffff;
}
.text p {
  position: absolute;
  left: 10.42%;
  right: 55%;
  top: 80.96%;
  bottom: 7.28%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
}
.auth-form input {
  width: 100%;
  height: 37px;
  left: 857px;
  top: 414px;
  border: none;
  outline: 0;
  border-bottom: 1px solid grey;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15px;
}
::placeholder {
  color: #a9a9a9cc;
}
.title-auth-right {
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #3a3d42;
}
.text-auth-right {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: rgba(58, 61, 66, 0.6);
}
.click-me {
  border: none;
  background-color: white;
}
.click-me:hover {
  color: blue;
}
.in-button {
  margin-top: 50px;
  background-color: #dadada;
  background: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  border: none;
}
.account-check {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-top: 50px;
  text-align: center;

  color: rgba(58, 61, 66, 0.8);
}
.auth-icon {
  position: absolute;
  padding-top: 45px;
  color: grey;
}
/*ASIDE*/
.aside {
  height: 70vh;
}
.aside-btn {
  background-color: white;
  color: #3a3d42cc;
  border: none;
}
.aside-btn-logout {
  background-color: white;
  color: #3a3d42cc;
  border: none;
}
.aside-btn:hover {
  background-color: white;
  color: blue;
}
.aside-btn-logout:hover {
  background-color: white;
  color: red;
}
/*balance*/
.bg-balance {
  background-color: #6379f4;
}
.bg-button {
  background: rgba(255, 255, 255, 0.2);

  border: 1px solid #ffffff;
  border-radius: 10px;
}
/*footer*/
/* .container-footer {
  height: 68px;
  background: #6379f4;
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: rgba(239, 239, 239, 0.9);
}
.footer-text-position {
  margin-top: 20px;
} */
/*header*/
/* .container-header {
  height: 140px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.header-text {
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;

  color: #6379f4;
}
.header-user-info {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;

  text-align: center;

  color: #3a3d42;
} */
/*home*/
/* .home-container {
  width: 80%;
  height: 190px;
  margin: 100px;

  background: #6379f4;
  border-radius: 20px;
}
.home-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #e0e0e0;
}
.home-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;

  color: #ffffff;
}
.dashboard-up {
  padding-right: 300px;
  margin-top: 10px;
}
.dashboard-button {
  box-sizing: border-box;

  width: 162px;
  height: 57px;

  background: rgba(255, 255, 255, 0.2);
  color: #3a3d42cc;
  border: none grey;
  border-radius: 10px;
  font-size: 22px;
} */
/*search-receiver*/

.search-receiver {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

.button-search-receiver {
  border: none;
  background-color: white;
}
.profile-pic {
  background-blend-mode: normal;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

/*history*/
.history-container {
  background-color: rgb(134, 175, 115);
}
.transfer-text-header {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #3a3d42;
}
.transfer-note {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #4d4b57;
}

@media (max-width: 870px) {
  .container-text {
    margin: auto;
    padding: 0 20px;
  }
  .bg-image {
    display: none;
  }
  .container-image {
    display: none;
    background: none;
  }
}
@media (max-width: 576px) {
  .bg-image {
    display: none;
  }
}
